<!DOCTYPE html>
<html>
    <head>
        {% include 'styles.html' %}
        <title>{% block title %}Helen{% endblock %}</title>

    </head>

    <body>

        <!-- using jinja nav template -->
        {% include 'nav.html' %}


        <!-- add profile picture -->
        <div class="profile">
			<div id="profile-picture" class="profile-picture">
				<img src="./static/img/helen.jpg" />
			</div>
			<h1 class="mytitle">{{ title }}</h1>
		</div>

        <hr>

        <!-- using jinja education and work template -->
        
            <div class="container">
                <h3><u>About me</u></h3>
                <p> 👋🏼 - Hi, I am Helen! <br>
                    💻 - I am a 4th year computer science student currently studying at the University of Waterloo!<br>
                    🎨 - Outside of school, I like to <a href="https://www.instagram.com/hxcolor">draw</a> and take <a href="https://www.instagram.com/hxlens">pictures</a>. <br>
                    🐍 - My favourite language to code in is Python!
                </p>
            </div> <br>
            <hr>
            <!-- education info -->
            <div class="container">
                {% include 'education_info.html' %}
            </div> <br>
            <hr>
            <!-- work info -->
            <div class="container">
                {% include 'work_info.html' %}
            </div> <br>
            <hr>
            
            <!-- hobbies -->
            <div class="container">
                {% include 'hobbiescard.html' %}
            </div>


            <!-- map -->
            <div class="container">
                <section class="map">
                    <h3><u>Places I have visited</u></h3>
                    <p>Hover over plots to view locations.</p>
                    <div class="mapcontainer">
                        <div class="map">
                            <span>Javascript is required to view the map</span>
                            <span>I've been to China, Canada, California and Florida</span>
                        </div>
                    </div>
                </section>

            </div>
            <br>
                

            

            
        
        

        </body>
</html>
    
