<!DOCTYPE html>
<html>
    <head> 
        <!-- adding required meta tags-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% include 'styles.html' %}
        <title>post</title>
    </head>


    <body>
        <p>hi enter something for my timeline! !</p>

        <!-- using jinja nav template -->
        {% include 'nav.html' %}
    <div class="container">
        <p>enter the info for timeline post</p>
    <form id="form">
        Name: <input name="name" type="text"> <br>
        Email: <input name="email"type="text"> <br>
        Content: <input name="content"type="text"> <br>
        <button type="submit">Submit</button>
    </form>
    </div>
    

    {% include 'postdisplay.html' %}


    </body>
    <script>
        const form = document.getElementById("form")

        form.addEventListener("submit", function(e) {
            e.preventDefault();

            // creates a new formdata object that contains an array of arrays
            // corresponding to the form elements
            const payload = new FormData(form);

            console.log([...payload])

            // clear value


            fetch("/api/timeline_post", {
                method: "POST",
                body: payload
            })

            .then(res => res.json())
            .then(data => console.log(data))
            .catch(err => console.log(err))
            location.reload()
        })
    </script>

</html>
